body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: bisque;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    height: 50px    ;
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
    border-radius: 10px;
}

.menu {
    font-size: 25px;
    cursor: pointer;
    display: none
}

nav {
    flex: 1;
    text-align: right;
    font-weight: bold;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    
}

nav ul li a:hover {
    color: red;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    
    
    
 
   
}

.col {
    flex-basis: 40%;
    position: relative;
    margin-right: 50px;
}
.col h1 {
    font-size: 40px;
    font-weight: bold;
}
.col h2 {
    font-size: 70px;
   
    
}

.col p {
    font-size: 20px;
     text-align: justify;
  text-justify: inter-word;
    
}

span {
    color: red;
}

.button {
    width: 170x;
    border: 1px solid black;
    padding: 15px 14px;
    color: black;
    font-size: 20px;
    background: blue;
    cursor: pointer;
    transition-delay: .5s;
    transition: .5s;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    margin-top: 20px;
}
.button:hover {
    color: black;
    background: white;
    width: 175;

}
.col::after {
    content: '';
    width: 10px;
    height: 57;
    background: blue;
}

.col-2{
    position: absolute;
    flex-basis: 60%;
    top: 3%;
    left: 150%;
    transition: .5s;
}
 .mac {
    width: 700px;
    
}

.col-2:hover {
  transform: skewX(5deg);
  
}

.color {
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    height: 90%;
    width:90%;
    z-index: -1;
   
   border-bottom-left-radius: 5%;
   border-top-left-radius: 5%;
   transform: translate(150px);
}

.color:hover {
    transform: skewY(5deg);
}

@media only screen and (max-width: 700px){

    nav ul {
        width: 100%;
        background: white;
        position: absolute;
        right: 0;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
    }

    nav ul li a {
        color: #fff;
    }

    .menu {
        display: block
    }
    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;

    }

    .mac {
        width: 300px;
    }

    .col-1 {
        flex-basis: 100%;
    }
    .col h1{
        font-size: 20px;
    }
    .col h2 {
        font-size:30px;
        width: 100%;
    }
    .color {
       float: right;
       position: absolute;
       right: 3%;
       top: 3%;
       color: white;
        }

    .col p {
        font-size: 20px;
        
    }

    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    

   
}